.svg {
  width: 20px;
  height: 20px;
  & path {
    fill: white;
  }
}


.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.addTodo {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  column-gap: 10px;
}
.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  text-align: start;
}
.todos {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 10px;
  max-height: 638px;
  overflow-y: auto;
  padding-right: 10px;
}

.add {
  flex-shrink: 0;
}
.input {
  font-size: 14px;
  display: flex;

  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.075);

  & input {
    width: 100%;
  }
}

.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  position: relative;
}
.title_line {
  text-decoration: line-through;
  color: gray;
}
.title_text {
  font-size: 16px;
  width: 100%;
}
.title_input {
  font-size: 16px;
  width: 100%;
  margin-right: 10px;
  resize: none;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
